# SPDX-FileCopyrightText: 2019 SAP SE or an SAP affiliate company and Gardener contributors
#
# SPDX-License-Identifier: Apache-2.0

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "cert-management.fullname" . }}
  labels:
    helm.sh/chart: {{ include "cert-management.chart" . }}
    app.kubernetes.io/name: {{ include "cert-management.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
rules:
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - "gateway.networking.k8s.io"
  resources:
  - gateways
  - httproutes
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - "networking.istio.io"
  resources:
  - gateways
  - virtualservices
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
    - ""
  resources:
    - secrets
  verbs:
    - get
    - list
    - update
    - watch
    - create
    - delete
- apiGroups:
  - cert.gardener.cloud
  resources:
  - issuers
  - issuers/status
  - certificates
  - certificates/status
  - certificaterevocations
  - certificaterevocations/status
  verbs:
  - get
  - list
  - update
  - watch
  - create
  - delete
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - get
  - list
  - update
  - create
  - watch
{{- if .Values.configuration.useDnsRecords }}
- apiGroups:
  - extensions.gardener.cloud
  resources:
  - dnsrecords
  verbs:
  - get
  - list
  - update
  - watch
  - create
  - delete
{{- else }}
- apiGroups:
  - dns.gardener.cloud
  resources:
  - dnsentries
  verbs:
  - get
  - list
  - update
  - watch
  - create
  - delete
{{- end }}
