nameOverride: ""
fullnameOverride: cert-controller-manager

replicaCount: 1

image:
  repository: eu.gcr.io/gardener-project/cert-controller-manager
  tag: v0.3.1-master
  pullPolicy: IfNotPresent

resources:
  requests:
   cpu: 100m
   memory: 64Mi
  limits:
   cpu: 200m
   memory: 128Mi

nodeSelector: {}
tolerations: []
affinity: {}
# priorityClassName: ""

createCRDs:
  issuers: true
  certificates: true

configuration:
  # cascadeDelete:
  # certClass:
  # certTargetClass:
  # controllers:
  # cpuprofile:
  # defaultIssuer:
  # defaultIssuerDomainRanges:
  # defaultRequestsPerDayQuota:
  # disableNamespaceRestriction:
  # dns:
  # dnsClass:
  # dnsNamespace:
  # dnsOwnerId:
  # dnsDisableDeployCrds:
  # dnsId:
  # gracePeriod:
  # ingressCertCertClass:
  # ingressCertCertTargetClass:
  # ingressCertDefaultPoolResyncPeriod:
  # ingressCertDefaultPoolSize:
  # ingressCertTargetNamePrefix:
  # ingressCertTargetNamespace:
  # ingressCertTargetsPoolSize:
  # issuerNamespace:
  # issuerCascadeDelete:
  # issuerCertClass:
  # issuerDefaultIssuer:
  # issuerDefaultIssuerDomainRanges:
  # issuerDefaultRequestsPerDayQuota:
  # issuerDefaultPoolResyncPeriod:
  # issuerDefaultPoolSize:
  # issuerDnsClass:
  # issuerDnsNamespace:
  # issuerDnsOwnerId:
  # issuerIssuerNamespace:
  # issuerIssuersPoolSize:
  # issuerPrecheckAdditionalWait:
  # issuerPrecheckNameservers:
  # issuerPropagationTimeout:
  # issuerRenewalWindow:
  # issuerSecretsPoolSize:
  # kubeconfig:
  # kubeconfigDisableDeployCrds:
  # kubeconfigId:
  # logLevel:
  # namespace:
  # namespaceLocalAccessOnly:
  # omitLease:
  # pluginDir:
  # poolResyncPeriod:
  # poolSize:
  # precheckAdditionalWait:
  # precheckNameservers:
  # propagationTimeout:
  # renewalWindow:
  serverPortHttp: 8080
  # serviceCertCertClass:
  # serviceCertCertTargetClass:
  # serviceCertDefaultPoolResyncPeriod:
  # serviceCertDefaultPoolSize:
  # serviceCertTargetNamePrefix:
  # serviceCertTargetNamespace:
  # serviceCertTargetsPoolSize:
  # source:
  # sourceDisableDeployCrds:
  # sourceId:
  # target:
  # targetNamePrefix:
  # targetNamespace:
  # targetDisableDeployCrds:
  # targetId:

additionalConfiguration: []
