bin/
.idea/
!.idea/copyright/
*.sw[pq]
tmp/
/dev/
/local/
/cmd/cert-controller-manager/cert-controller-manager
/cert-controller-manager
/cert-controller-manager-next-generation
.vscode/
.kubeconfig-kind-integration

*.coverprofile
*.html

# gosec
gosec-report.sarif

# go workspace
go.work.sum

