bin/
.idea/
*.sw[pq]
tmp/
/dev/
/local/
/cmd/cert-controller-manager/cert-controller-manager
/cert-controller-manager
/certman2
.vscode/
.kubeconfig-kind-integration

*.coverprofile
*.html

# gosec
gosec-report.sarif
